@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
html {
  min-height: 100vh;
  height: 100%
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-bottom: 15px;
  background-color: #e2e1e0;
  font-family: 'Roboto';
  font-weight: 300;
  min-height: 100vh;
  height: 100%;
}
:focus{outline: none;}

.margin-bottom {
  margin-bottom: 20px;
}

.white {
  background-color: white;
}

.function-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nothing {
background-color: #FFFFFF;
background-color: #9EB47F;
background-color: #7F7F83;
background-color: #4F2F37;
background-color: #2E2032;
} 

.col-md-6 {
  transition: height 200ms 0ms, opacity 200ms 200ms;
}

.list-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 4px;
  transition: height 200ms 0ms, opacity 200ms 200ms;
  background-color: white;
}

.list-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.col-md-6.hide {
  transition: height 200ms 200ms, opacity 200ms 0ms;
  opacity: 0.0;
  height: 0px;
}


.list-card-button {
  border: 3px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
}

.off-green {
  background-color: #9EB47F;
  color: white;
}

.marone {
  background-color: rgb(121, 28, 28);
  color: white;
}

.grey-blue {
  background-color:#7F7F83;
}

.deep-purple {
  background-color: #2E2032;
}

.form-input-field {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 10rem;
  font-family: 'Roboto';
  font-weight: 300;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
#patientForm input {
  border: none;

}
#button-bar {
  margin-top: 10px;
}
#button-bar button {
  margin-right: 10px;
}

.text-look {
  color: #212529;
  border-radius: 0%;
  border: none;
  font-size: 1.3rem;

}
.card-body div .smaller {
  font-size: 1rem;
}

.medicationList {
  background-color: #42505f13;
  border-radius: 10px;
  padding: 0.7rem 0.7rem;
}

.card-body {
  padding: 0.7rem;
}

.nested-list-item {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 7px;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.29);
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.29);
  padding: 0.2rem;
  /* color: rgba(255, 255, 255, 0.637); */
}

#cunt {
  width: 100%;
  border-radius: 45px;
  font-size: 11px;
}

.example-enter {
  opacity: 0.0;
  width: 100%;
}

.example-enter.example-enter-active {
  opacity: 1;
  width: 100%;
  transition: 1000ms;
}

.example-leave {
  opacity: 1;
  width: 100%;
}

.example-leave.example-leave-active {
  opacity: 0.0;
  width: 100%;
  transition: 100ms;
}

span {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

h1 {
  font-weight: 300;
  text-align: center;
}

h5 {
  font-weight: 300;
}

h4 {
  font-weight: 300;
}

#button-bar {
  margin-bottom: 10px;
}


.special-button{
  min-width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  background-color: rgb(209, 247, 248);
  margin-top: 10px;
}

.special-button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.center-me{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-red {
  background: rgba(229, 48, 48, 0.76);
  box-shadow: 0 -2px 0 3px #c91919af inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.btn-green {
  background: rgba(14, 197, 23, 0.589);
  box-shadow: 0 -2px 0 3px #0b9512b0 inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.btn-grey {
  background-color: #7F7F83;
  box-shadow: 0 -2px 0 3px #59595c inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}
.list-card-button:hover {
  background: #333;
  box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.feature-background {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  height: 100%;
  min-height: 100vh;
  margin-top: -20px;
  padding-top: 15%;
}

#root{
  height: 100%
}

.jumbotron {
  background-color: rgba(8, 8, 8, 0.555);
  color: #c4c4c4;
  text-align: center;
}

.jumbotron hr {
  background-color: rgba(255, 255, 255, 0.342);
}